*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 236, 236);
}
#container{
    margin-top: 20px;
}
.logo img{
   margin-left: 100px;
   float: left;
}
.sign-up .btn-style{
    color: #fff;
    background-color: #3139E4;
    padding: 10px;
    border: none;
    margin-right: 60px;
    border-radius: 5px;
    font-weight: 700;
    float: right;
}
.heading-style{
    text-align: center;
    font-size: 30px;
}
#tab{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.same-style{
    background-color: #fff;
    text-align: center;
    max-width: 260px;
    border-radius: 5px;
    flex-grow: 1;
    margin-left: 40px;
    margin-top: 40px;
}
.second img, h3{
    margin-top: 15px;
}
.pad{
    padding: 5px;
}